# Python cache and artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

quartz/

# Virtual Environments
.env
.venv
env/
venv/

# IDE settings folders
.idea/
.vscode/

# Ignore the raw input data files
# These can be large and are fetched from an external source anyway.
/inputs/

# Output directory rules for the Obsidian Vault
# ---------------------------------------------

# Ignore all generated markdown content files in the output directory...
/output/*.md

#but this is going to keep the .obsidian directory :) 